.manage-notes-container {
    border: 1px solid black;
    border-radius: 4px;

    .manage-notes {
        flex: none;
    }

    .manage-action-container {
        display: none;
        border-left: 1px solid black;
    }
}

.manage-notes-action {

    .manage-notes,
    .manage-action-container {
        flex: 1;
    }

    .manage-action-container {
        display: block;
    }
}

.manage-header {
    padding: 8px;
    border-bottom: 1px solid black;
}

.manage-notes-content {
    overflow-y: auto;
    height: calc(100vh - 140px);
}