.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  z-index: 1000;
}

.page-info {
  display: flex;
  align-items: center;
  gap: 1rem;

  .page-dropdown {
    padding: 0.4rem 0.6rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}

.right-section {
  display: flex;
  align-items: center;
  gap: 1rem;

  .profile-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%; // makes it circular
    background-color: #4a90e2; // you can change color
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

    &:hover {
      background-color: #357abd; // hover effect
    }
  }
}

.menu-container {
  position: relative;

  .dots-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .menu-list {
    position: absolute;
    right: 0;
    top: 100%;
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    list-style: none;
    padding: 0.5rem 0;
    margin: 0;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    li {
      padding: 0.5rem 1rem;
      width: 160px;
      font-size: 12px;
    }
  }
}

.outlined-blue-btn {
  padding: 4px;
  border: 1.5px solid blue;
  text-align: center;
  border-radius: 12px;
  color: blue;
  cursor: pointer;
}

.outlined-blue-btn:hover {
  background-color: rgb(0 0 255 / 8%);
}

.cursor-pointer {
  cursor: pointer;
}

.settins {
  padding: 8px;
  margin-top: 6px;
  background-color: #8080801c;
  border-radius: 4px;
}