<header class="header">
    <!-- Left: Page name and dropdown -->
    <div class="page-info">
        <p-select [options]="headers()" [ngModel]="selectedHeader()" optionLabel="name" placeholder="Select a Note"
            (onChange)="onSelectNote($event)" class="w-full md:w-56" />
        <a class="link" (click)="onNavigation('/notes/active-notes')">Notes</a>
        <a class="link" (click)="onNavigation('/notes/manage-notes')">Manage Notes</a>
    </div>

    <!-- Right: Logo + Profile -->
    <div class="right-section menu-container" (click)="$event.stopPropagation()">
        <div class="profile-avatar" (click)="showProfile.set(!showProfile()); showSettings.set(false)"> VM </div>
        @if(showProfile()) {
        <ul class="menu-list">
            <li><strong>Vivek Kumar Maurya</strong></li>
            <li>
                <div routerLink="/profile" class="outlined-blue-btn">View Profile</div>
            </li>
            <li>
                <div>
                    <span class="cursor-pointer" (click)="showSettings.set(!showSettings())">Settings</span>
                </div>
                @if(showSettings()) {
                <div class="settins">
                    <div class="cursor-pointer" (click)="clearLocalStorage()">Clear Storage</div>
                </div>
                }
            </li>
        </ul>
        }
    </div>
</header>