<div>
    @for(section of sections(); track section.sectionId; let sectionIndex = $index) {
    <div class="section-container" [id]="'manage-section-' + section.sectionId">
        <div class="section-text center-align-between">
            <div [innerHTML]="section.name"></div>
            <div class="menu-container">
                <span class="material-symbols-outlined link"
                    (click)="toggleMenu(section.sectionId, 'section'); $event.stopPropagation()"> more_vert
                </span>
                @if(openToggle().id === section.sectionId && openToggle().type === 'section') {
                <ul class="menu-list">
                    <li (click)="addSection(section, '0')">Add Section Above</li>
                    <li (click)="addSection(section, '1')">Add Section Below</li>
                    <li (click)="addSubSectOnSection(section)">Add Sub Section</li>
                    <li (click)="addContentOnSection(section)">Add Content</li>
                    <li (click)="editSection(section)">Edit Section</li>
                    <li (click)="deleteSection(sectionIndex)">Delete Section</li>
                </ul>
                }
            </div>
        </div>
        @if(section?.contents?.length) {
        <ng-container *ngTemplateOutlet="manageNotesContent; context: { contents: section.contents }"></ng-container>
        }
        @if(section?.subSections?.length) {
        @for(subSection of section.subSections; track subSection.subSectionId; let subSectionIndex = $index) {
        <div class="subsection-container" [id]="'manage-subsection-' + subSection.subSectionId">
            <div class="subSection-text center-align-between">
                <div [innerHTML]="subSection.name"></div>
                <div class="menu-container">
                    <span class="material-symbols-outlined link"
                        (click)="toggleMenu(subSection.subSectionId, 'subSection'); $event.stopPropagation()">
                        more_vert
                    </span>
                    @if(openToggle().id === subSection.subSectionId && openToggle().type === 'subSection') {
                    <ul class="menu-list">
                        <li (click)="addSubSection(subSection, '0')">Add Sub Section Above</li>
                        <li (click)="addSubSection(subSection, '1')">Add Sub Section Below</li>
                        <li (click)="addContentOnSubSection(subSection)">Add Content</li>
                        <li (click)="editSubSection(subSection)">Edit Sub Section</li>
                        <li (click)="deleteSubSection(sectionIndex, subSectionIndex)">Delete Sub Section</li>
                    </ul>
                    }
                </div>
            </div>
            @if(subSection?.contents?.length) {
            <ng-container *ngTemplateOutlet="manageNotesContent; context: { contents: subSection.contents }"></ng-container>
            }
        </div>
        }
        }
    </div>
    }
</div>

<ng-template #manageNotesContent let-contents="contents">
    @for(content of contents; track content.contentId) {
    @if(content.text) {
    <div class="content-text center-align-between"
        [ngClass]="{'active-row': activeRow().type === 'content' && content.contentId === activeRow().id}"
        [id]="'manage-content-' + content.contentId">
        <div [innerHTML]="content.text"></div>
        <div class="menu-container">
            <span class="material-symbols-outlined link"
                (click)="toggleMenu(content.contentId, 'content'); $event.stopPropagation()"> more_vert
            </span>
            @if(openToggle().id === content.contentId && openToggle().type === 'content') {
            <ul class="menu-list">
                <li (click)="addContent(content, '0', 'Add_Content')">Add Content Above</li>
                <li (click)="addContent(content, '1', 'Add_Content')">Add Content Below</li>
                <li (click)="editContent(content)">Edit Content</li>
                <li (click)="deleteContent(content)">Delete Content</li>
            </ul>
            }
        </div>
    </div>
    }
    }
</ng-template>

<p-confirmdialog />
<p-toast />