/* You can add global styles to this file, and also import other style files */
body {
    background-color: #ffffff;
    color: black;
}

p,
h3 {
    margin: 0px;
}

pre {
    background-color: #b2a8a840;
    white-space: break-spaces;
}

strong {
    overflow-wrap: break-word;
}

.link {
    cursor: pointer;
    color: blue;
}